.apresentacao-praticar {
    background: linear-gradient(to right, #c8e3c5, #9cad9a);
    padding: 120px 20px 60px;
    text-align: center;
}

.apresentacao-praticar h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #755858;
    line-height: 1.2;
    margin-bottom: 10px;
}

.apresentacao-praticar p {
    font-size: 1.1rem;
    color: #755858;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}










/*--atividades--*/
.atividade-interativa {
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.atividade-interativa h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.atividade-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.frase {
    text-align: left;
}

.frase label {
    font-weight: 600;
}

.frase input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.btn-verificar {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background: #008080;
    color: white;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-verificar:hover {
    background: #006666;
}

.feedback {
    margin-top: 1rem;
    font-weight: bold;
}