* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Hammersmith One", 'Poppins', sans-serif;
    scroll-padding-top: 65px;
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
    color: #1f1f1f;
    overflow-x: hidden;

}

:root {
    --cor-principal: #ffc870;
    --fundo: #f9f9f9;
    --texto: #1f1f1f;
}